.full-width-image {
  min-height: 100vh;
  width: 100vw;
  background: url("../../../assets/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.auth-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.auth-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.card {
  background-color: rgba(235, 235, 235, 0.7);
  color: #FFF;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(163, 163, 163, 0.3) !important;
  border-radius: 10px;
  padding: 40px 40px;
}
