<div class="wrapper">
  <div class="toolbar">
    <mat-toolbar>
      <!-- <div class="container-fluid">
        <button mat-icon-button (click)="toggleSidenav.emit()">
          <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
          <a [routerLink]="['/dashboard']">
            <img src="/assets/images/logo.png" class="logo">
          </a>
        </span>
        <span routerLink="" class="branding spacer d-none d-md-inline">
          <a [routerLink]="['/dashboard']">
            <img src="/assets/images/logo.png" class="logo">
          </a>
        </span>

        <div class="float-right">
            <a [routerLink]="['/user/profile']" class="user-name">
              <img src="{{user.image || '/assets/images/default-profile.jpg'}}" class="avatar">
              {{user.name}}
            </a>
            <button mat-icon-button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
              </button>
        </div>
      </div> -->
    </mat-toolbar>
  </div>
</div>
