@import '/src/styles/variables/colors.scss';

.card {
  background-color: $card-bg-color;
  color: $layout-color;

  .card-header{
    background-color: $card-bg-color;
    color: $layout-color;
    border-bottom-color: $card-border-color;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: $dark-card-bg-color;
    color: $dark-layout-color;

    .card-header{
      background-color: $dark-card-bg-color !important;
      color: $dark-layout-color !important;
      border-bottom-color: $dark-card-border-color !important;
    }
  }
}
