<!-- Daybook Logs -->
<div class="row h-100 position-relative">
  <div class="container-fluid">
    <ng-template #buttonText>
      Add New Log
      <mat-icon #hidePanel svgIcon="plus" matListIcon></mat-icon>
    </ng-template>

    <app-item-card
      [itemRoute]="['/day/book/', daybook.id]"
      [itemTitle]="daybook.title"
      [topTitle]="'Last Update: ' + (daybookDate && dateLogs && dateLogs.length ?
        (dateLogs[0].updated_at | amTimeAgo) : 'Not logged yet')"
      [mainTitle]="(selectedDate | amDateFormat:'D MMMM YYYY') +(isToday === 0 ? ' (Today)' : '')"
      [buttonText]="buttonText" (buttonClick)="addLog()"
      *ngIf="!isLoading"></app-item-card>

    <div class="row mt-5" *ngIf="!isLoading && dateLogs">
      <div class="container-fluid">
        <h3 class="text-center my-5">
          Last Logs / {{dateLogs.length}}
        </h3>

        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel *ngFor="let dateLog of dateLogs; let i = index;">
            <ng-template ngbPanelHeader let-opened="opened">
              <div class="d-flex align-items-center justify-content-between">
                <!-- Section Title -->
                <div class="font-weight-bold m-0">
                  <!-- Last Update Date -->
                  <div>
                    <!-- Datetime Data Tooltip -->
                    <ng-template #datetimeData>
                      Last Update: {{dateLog.updated_at}}
                    </ng-template>

                    <!-- Datetime Data -->
                    <small *ngIf="!dateLog.isSaving" class="ml-2" placement="right" [ngbTooltip]="datetimeData">
                      {{dateLog.updated_at | amTimeAgo}}
                    </small>

                    <button class="btn btn-link p-0" placement="right"
                      [ngbTooltip]="dateLog.history_count + ' history logs'"
                      (click)="showLogHistory(logHistory, dateLog)"
                    >
                      <mat-icon svgIcon="history" class="mdi-18px mb-1" matListIcon></mat-icon>
                    </button>
                  </div>

                  <!-- Log Title -->
                  <div class="ml-2">
                    <h4 (click)="onFocusLogTitle(i, dateLog);" *ngIf="!dateLog.isEditing">
                      {{dateLog.title || 'Untitled'}}
                    </h4>

                    <input #editTitleInput type="search" class="form-control"
                      [disabled]="dateLog.isSaving"
                      [(ngModel)]="dateLog.title"
                      (blur)="onBlurLogTitle($event, dateLog)"
                      (keydown.enter)="onBlurLogTitle($event, dateLog)"
                      *ngIf="!dateLog.isSaving && dateLog.isEditing">
                  </div>

                  <small *ngIf="dateLog.isSaving" class="ml-2" placement="right" [ngbTooltip]="dateLog.updated_at">
                    Saving...
                  </small>
                </div>

                <!-- Toggle -->
                <button ngbPanelToggle class="btn btn-link p-0" placement="left" [ngbTooltip]="opened ? 'Hide' : 'Show'">
                  <mat-icon svgIcon="minus" matListIcon *ngIf="opened; else hidePanel;"></mat-icon>

                  <ng-template #hidePanel>
                    <mat-icon svgIcon="chevron-down" matListIcon></mat-icon>
                  </ng-template>
                </button>
              </div>
            </ng-template>

            <ng-template ngbPanelContent>
              <div class="position-relative">
                <ckeditor [editor]="editor"
                  [data]="dateLog.log"
                  [config]="editorConfig"
                  (blur)="onBlurEditor($event, dateLog)"
                  (focus)="onFocusEditor($event, dateLog)"></ckeditor>

                <ngx-spinner [name]="'dateLog-' + dateLog.id" bdColor="#444548cc" type="ball-triangle-path" size="medium"></ngx-spinner>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>

    <ngx-spinner name="bookDateSpinner" bdColor="#444548cc" type="ball-triangle-path" size="medium"></ngx-spinner>
  </div>
</div>

<!-- History Modal -->
<ng-template #logHistory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <mat-icon svgIcon="history" class="mr-1" matListIcon></mat-icon>
      {{currentDateLog ? currentDateLog.title : '-'}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel *ngFor="let dateLog of currentDateLog.historyLogs; let i = index;">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <!-- Section Title -->
            <div class="font-weight-bold m-0">
              <!-- Last Update Date -->
              <div>
                <!-- Datetime Data Tooltip -->
                <ng-template #datetimeData>
                  Date: {{dateLog.created_at}}
                </ng-template>
              </div>

              <!-- Log Title -->
              <div class="ml-2">
                <h4 *ngIf="!dateLog.isSaving" class="ml-2" placement="right" [ngbTooltip]="datetimeData">
                  {{dateLog.updated_at | amTimeAgo}}
                </h4>
              </div>
            </div>

            <!-- Toggle -->
            <button ngbPanelToggle class="btn btn-link p-0" placement="left" [ngbTooltip]="opened ? 'Hide' : 'Show'">
              <mat-icon svgIcon="minus" matListIcon *ngIf="opened; else hidePanel;"></mat-icon>

              <ng-template #hidePanel>
                <mat-icon svgIcon="chevron-down" matListIcon></mat-icon>
              </ng-template>
            </button>
          </div>
        </ng-template>

        <ng-template ngbPanelContent>
          <ckeditor [editor]="editor"
              [data]="dateLog.log"
              [config]="editorConfig"
              [disabled]="true"></ckeditor>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</ng-template>
