$layout-bg-color: #edf0f4;
$layout-color: #1c1c1c;
$card-bg-color: #ffffff;
$card-border-color: #bababa;

$dark-layout-bg-color: #1c1c1c;
$dark-layout-color: #bababa;
$dark-card-bg-color: #303030;
$dark-card-border-color: #424242;

$theme-primary: #fe8a39;
$theme-secondary: #fd3838;
$theme-bg-linear: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
